.services {
  padding-top: 10rem;
  h3 {
    font-size: 4rem;
    font-weight: 600;
  }

  p {
    width: 40%;
    margin-top: 1rem;
    color: $opacity-color;
  }

  .services__cards {
    display: flex;
    justify-content: space-between;
    position: relative;

    margin-top: 6rem;
    gap: 5.5rem;

    .service__card {
      display: grid;
      justify-items: center;

      padding: 3rem 1rem;
      border: 0.1rem solid $green-color;
      border-radius: 5rem;
      width: 500px;

      .service__img {
        width: 10rem;
        height: 10rem;
        background: rgba($green-color, 0.1);
        border-radius: 50%;
        padding: 2rem;
      }

      h4 {
        color: $green-color;
        font-size: 2rem;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        margin: 4rem 0;
      }

      p {
        width: 60%;
        font-size: 1.4rem;
        font-family: "Roboto", sans-serif;
        line-height: 2.1rem;
        color: $secondary-color;
      }

      a {
        @include main-button;
        width: 60%;
        margin-top: 4rem;
      }

      &:nth-child(2) {
        border: 1px solid $blue-color;

        h4 {
          color: $blue-color;
        }

        a {
          background: linear-gradient(
            45deg,
            $blue-color,
            rgba($blue-color, 0.4)
          );
        }
      }

      &:nth-child(3) {
        border: 1px solid $yellow-color;

        h4 {
          color: $yellow-color;
        }

        a {
          background: linear-gradient(
            45deg,
            $yellow-color,
            rgba($yellow-color, 0.4)
          );
        }
      }
    }
  }
}

// .object {
//   position: absolute;
//   top: 50%;
//   left: 32%;
//   width: 1rem;
//   height: 1rem;
//   border-radius: 50%;
//   background: $primary-color;
// }
