$primary-color: #e3b250;
$primary-color-opacity: rgba($primary-color, 0.5);
$secondary-color: #fff;
$dark-color: #000;
$green-color: #149631;
$blue-color: #1f3992;
$yellow-color: #8bc70c;
$opacity-color: rgba($secondary-color, 0.5);
$bg-color: #2e2929;

$desktop-width: 80%;
$mobile-width: 90%;
